<article>
  <h1>Acerca de</h1>
  <p> El Sistema de Información de ASOM (SI-ASOM) es una aplicación 
  web que se basa en:</p>
  <ul>
    <li>Cor1440:  planeación y seguimiento de proyectos y actividades en una 
      ONG.</li>
    <li>SIVeL2:  manejo de casos de violencia socio política.</li>
  </ul>
<p>Este sistema de información de
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.
</p>
</article>
